@page
@model BookList_Razor.Pages.BookList.IndexModel
@{
    ViewData["Title"] = "Book List";
}
<br />
<h2>Book List</h2>
<br />

<a asp-page="Create" class="btn btn-primary">Create New Book</a>

@if (Model.Books.Count() > 0)
{
    <form method="post">
        <div>
            <br />
            <table class="table table-condensed table-hover">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Books.FirstOrDefault().ISBN)</th>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Books.FirstOrDefault().Title)</th>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Books.FirstOrDefault().Author)</th>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Books.FirstOrDefault().Price)</th>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Books.FirstOrDefault().Availibility)</th>
                </tr>
            </table>
        </div>
    </form> 
}
else
{
    <p>No books found.</p>
}
