@page "{id:int?}/{handler?}"
@model BookList_Razor.Pages.BookList.IndexModel
@{
    ViewData["Title"] = "Book List";
}
<br />
<h2>Book List</h2>
<br />

@if (Model.Message != null)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model.Message
    </div>
}

<a asp-page="Create" class="btn btn-primary">Create New Book</a>

@if (Model.Books.Count() > 0)
{
    <form method="post">
        <div>
            <br />
            <table class="table table-condensed table-hover">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.DefaultBook.ISBN)</th>
                    <th>@Html.DisplayNameFor(m => m.DefaultBook.Title)</th>
                    <th>@Html.DisplayNameFor(m => m.DefaultBook.Author)</th>
                    <th>@Html.DisplayNameFor(m => m.DefaultBook.Price)</th>
                    <th>@Html.DisplayNameFor(m => m.DefaultBook.Availibility)</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Books)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.ISBN)</td>
                        <td>@Html.DisplayFor(m => item.Title)</td>
                        <td>@Html.DisplayFor(m => item.Author)</td>
                        <td>@Html.DisplayFor(m => item.Price)</td>
                        <td>@Html.DisplayFor(m => item.Availibility)</td>
                        <td>
                            <button asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"
                                    title="Delete @item.Title">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                            <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm"
                                    title="Edit @item.Title">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </form>
}
else
{
    <p>No books found.</p>
}